
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    /* font-weight: 400; */
    font-style: normal;

}

:root {
    --hero-bg-color: #e6cffb;
    --purple-color: #370c5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--purple-color);
    margin-bottom: 1em;
}

p, a, span, li, button {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--purple-color);
    margin-bottom: .5em;
}

button {
    padding: 10px 1.5em;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: var(--purple-color);
    color: white;
    font-weight: 500;
    width: fit-content;
    margin: 1em 0;
    margin-top: 2em;
    cursor: pointer;
    transition: all 0.3s ease;
    /* font-size: 1.2em; */
}

button:hover {
    background: transparent;
    border: 1px solid var(--purple-color);
    color: var(--purple-color);
    
}

a {
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    width: 100%;
}

.hero {
    width: 100%;
    height: 100vh;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em 2em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(0.5s);
     /* background-color: rgba(255, 255, 255, 0.2); */
    z-index: 1000;
}

header nav {
    display: flex;
    gap: 1em;
}

header nav a{
    margin: 0;
}

header .logo {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--purple-color);
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--hero-bg-color);

    display: flex;
    gap: 1em;
}

.hero-content .left, .hero-content .right {
    width: 50%;
}

.hero-content .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em 3.5em;
    padding-bottom: 5em;
    color: teal;
}

.hero-content .right img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-content .left h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.show-mobile {
    display: none;
}

.show-mobile img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .hero-content .left h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 640px) {
    .show-desktop {
        display: none;
    }

    .show-mobile {
        display: block;
    }

    header .logo {
        font-size: 1.5em;
    }

    .hero-content {
        flex-direction: column;
        height: 100%;
    }

    .hero-content .left, .hero-content .right {
        width: 100%;
        
    }

    .hero-content .left {
        align-items: center;
        text-align: center;
        padding-top: 8em;
        padding-bottom: 0;
    }

    .hero-content .right {
        overflow: hidden;
    }

    .hero-content .left h1 {
        font-size: 2.5em;
    }

    .hero-content .right img {
        height: auto;
    }
}

section {
    padding: 6.5em 3.5em;

}

section h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.ratings ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
}


.ratings ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid #ddd;
    padding: 0.5em 2em;
    min-width: 250px;
}

.ratings ul li span {
    font-family: "Playfair Display", serif;

}

.ratings ul li span.tag {
    padding: 3px 8px;
    border-radius: 8px;
    font-size: 11px;
    text-transform: uppercase;
}

.ratings ul li:first-child span.tag {
    background-color: rgba(139, 0, 0, 0.2);
    color: darkred;
}

.ratings ul li:nth-child(2) span.tag {
    background-color: rgba(184, 135, 11, 0.2);
    color: darkgoldenrod;
}

.ratings ul li:nth-child(3) span.tag {
    background-color: rgb(55, 12, 90, 0.2);
    color: var(--purple-color);
}

.ratings ul li:last-child span.tag {
    background-color: rgb(0, 128, 128, 0.2);
    color: teal;
}

.ratings ul li span.rating-num {
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 0.3em;
    
}

@media screen and (max-width: 640px) {

    section {
        padding: 4em 1.5em;
        text-align: center;
    }

    .ratings ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ratings ul li  {
        flex: 1 1 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-left: none;
        border-bottom: 1px solid #ddd;
        padding: 1.5em 0;
    }
}

section span.section-indicator {
    text-transform: capitalize;
    font-size: 0.9em;
    font-weight: 500;
    color: #bda2c9;
    margin-bottom: 0.5em;
    display: inline-block;
    font-family: 'Playfair Display', serif;
}

section.benefits .content {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 3em;
    flex-wrap: wrap;
}

.benefits .left {
    flex: 1;
    /* padding-right: 2em; */
    min-width: 300px;
}

.benefits .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits ul.benefit-list {
    flex: 1;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    
}



.benefits .benefit-card {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 2.5em 2em;
    border-radius: 10px;
    max-width: 300px;
}

@media screen and (max-width: 800px) {
    

    .benefits ul.benefit-list {
        grid-template-columns: 1fr;
        
    }

    .benefits .benefit-card {
        margin: 0 auto;
    }

    section.benefits .content {
        flex-direction: column;
        align-items: center;
    }
}

.benefits .benefit-card .card-title {
    border-left: 1px solid #888;
    padding-left: 10px;
}

.services {
    background-color: #f4eff5;
}

.services .services-header {
    text-align: center;
    margin-bottom: 3em;
}

.services .tags {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 3em;
    flex-wrap: wrap;
}

.services .tags .tag {
    padding: 8px 15px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 11px;
    cursor: pointer;
    text-transform: capitalize;
}

.services .tags .tag:hover, .services .tags .tag.active {
    background-color: var(--purple-color);
    color: white;
}

.services ul.services-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 1200px;
    margin: 0 auto;
}

.services ul.services-list li.service-item {
    display: flex;
    align-items: stretch;
    gap: 2em;
    flex-wrap: wrap;
}

.services ul.services-list li.service-item .service-card {
    flex: 2;
    background-color: white;
    padding: 2em 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.services ul img {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;

}

.testimonial-list {
    list-style: none;
    display: flex;
    gap: 2em;
    overflow-x: auto;
    padding: 2em 1em;
    flex-wrap: nowrap;
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
}

.testimonial-list li.testimonial-card {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 2em 1.5em;
    border-radius: 20px;
    min-width: 300px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

.testimonial-author {
    display: flex;
    align-items: flex-end;
    gap: 1em;
}

.testimonial-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--purple-color);
}

.testimonial-author .author-info {
    display: flex;
    flex-direction: column;
}

.testimonial-author .author-info .author-name {
    font-weight: 600;
    margin-bottom: 0;
}

footer {
    background-color: black;
    padding: 5em 2.5em;
    padding-bottom: 2em;
}

footer .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em 1em;
}

footer * {
    color: white;
    font-family: 'Playfair Display', serif;
}

.footer-links {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-links nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
    font-size: 12px;
    opacity: .7;
}

.footer-bottom {
    text-align: center;
    margin-top: 3em;
    
}

/* Animation */
@keyframes appear{
    from {
        opacity: 0.5;
        scale: 0.5;
        /* transform: translateY(20px); */
    }
    to {
        opacity: 1;
        scale: 1;
        /* transform: translateY(0); */
    }
}

section {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}