* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 1em;
}

header {
    width: 100%;
    padding: 1em;
    padding-bottom: .2em;
    background-color: #ccc;
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1em;
}

a {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
}
a:visited {
    color: purple;
}
a:hover {
    text-decoration: underline;
    color: crimson;
}



nav ul li {
    border-right: 1px solid #333;
    padding: .2em 1em;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1551632811-561732d1e306?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

.hero .text-wrapper {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 10em;
}

.text-wrapper h2 {
    font-size: 3em;
    margin-bottom: 1em;
    line-height: 0;
}

.text-wrapper p {
    font-size: 1.5em;
}

.text-wrapper button {
    padding: 1em 2em;
    font-size: 1em;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3em;
}

.text-wrapper button:hover {
    background-color: crimson;
    text-decoration: underline;
}

.sections-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
    line-height: 200%;
}

.sections-wrapper section {
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}

ul {
    list-style: square;
}

li {
    margin-bottom: .5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    border: 1px solid #333;
}

th, td {
    padding: 1em;
    border: 1px solid #333;
}

thead, tfoot {
    background-color: #ddd;
}

tfoot td {
    color: red;
}

form {
    background-color: antiquewhite;
    padding: 2em;
}

form input, form textarea {
    display: block;
    padding: 1em;
    width: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
}

form button {
    margin-top: 1em;
    padding: 1em 2em;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: crimson;
    text-decoration: underline;
}

footer {
    background-color: #ccc;
    padding: 1em;
    margin-top: 2em;
    text-align: center;
}

